@charset "UTF-8";

.jeju-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #3498db;
	color: #3498db;
	background-color: white;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}

.jeju-button:hover {
	background-color: #3498db;
	color: white;
}

#result1, #result2 {
	display: none;
}

#nature1, {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #3498db;
	color: #3498db;
	background-color: white;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}

#nature2 {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #3498db;
	color: #3498db;
	background-color: white;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}

#nature3 {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #3498db;
	color: #3498db;
	background-color: white;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}