@charset "UTF-8";


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label-container {
    margin-bottom: 15px;
}

.label-container input {
    margin-right: 5px;
}

#massage {
    margin-top: 10px;
    display: block;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

.button-container button {
    background: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background: #2980b9;
}

#idChk, button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#idChk:hover, button[type="submit"]:hover {
    background-color: #2980b9;
}