@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.label-container {
    margin-bottom: 15px;
}

#male {
	width: 10%
}

#female {
	width: 10%
}

label {
    display: inline-block;
    margin-right: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
