@charset "UTF-8";

#resultpage_search { /* 검색창 위치 */
	width: 1000px;
	height: 60px;
	background-color: yellow;
	top: 40px;
	left: 460px;
	position: relative;
}

#searching{
	font-size: 20px;
	width: 850px;
	height: 60px;
	padding: 10px;
	outline: none;
}

#search_button{
	font-size: 20px;
	width: 150px;
	height: 60px;
	border: 0px;
	background: gold;
	outline: none;
	float: right;
	color: #ffffff;
}

#return_searchpage{
	font-size: 20px;
	width: 400px;
	height: 60px;
	background-color: gold;
	padding: 15px;
	top: -20px;
	left: 20px;
	position: relative;
}

#search_info{
	font-size: 20px;
	width: 1200px;
	height: 500px;
	/* background-color: gold; */
	padding: 20px;
	top: 30px;
	left: 360px;
	position: relative;
}
#search_loop{
	width: 100%;
	height: 20%;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
	background-color: #EAEAEA;
}

/* table{
	font-size: 20px;
	width: 1000px;
	height: 800px;
	background-color: gold;
	top: 80px;
	left: 460px;
	position: relative;
} */

.number_button{
	width: 1000px;
	height: 50px;
	font-size: 15px;
	background-color: gold;
	padding: 10px;
	top: 50px;
	left: 460px;
	position: relative;
}

#number{
	width: 30px;
	height: 30px;
	background-color: lime;
	position: relative;
}

#blank{
	width: 100%;
	height: 100px;
	top: 50px;
	position: relative;
}