@charset "UTF-8";


#map {
	position: relative;
    width: auto;
    height: 500px;
    margin-left:20px;
}

#all {
	display:flex;
}

#left {
	width: 60%;
}

#travel-info #travelTitle {
	width: 30%;
	margin-bottom: 15px;
	margin-left:20px;
	padding: 10px;
}

#travel-info #travelWith {
	width: 15%;
	margin-bottom: 15px;
	padding: 10px;
}

#travel-info #datepicker1 {
	width: 20%;
	margin-bottom: 15px;
	padding: 10px;
}

#travel-info #datepicker2 {
	width: 20%;
	margin-bottom: 15px;
	padding: 10px;
}

#dayButtons button {
    background-color: #000054;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    display: block;
}

#dayButtons {
	overflow : auto;
	height: 500px;
    align-items: center;
    margin-top: 50px;
}


#menuwrap {
	position: absolute;
	height:500px;
}

 #placesList {
    max-height: 500px; /* 필요에 따라 최대 높이를 조정하세요 */
    overflow-y: auto;
  }

#lb {
	width:40%;
	backgroung-color:grey;
}