@charset "UTF-8";


body { /* body에 일괄적으로 적용시킬 내용 */
	
}

#resultpage_search { /* 검색창 위치 */
	width: 1000px;
	height: 60px;
	background-color: yellow;
	top: 40px;
	left: 460px;
	position: relative;
}

 #searching{
	font-size: 20px;
	width: 850px;
	height: 60px;
	padding: 10px;
	outline: none;
}

#search_button{
	font-size: 20px;
	width: 150px;
	height: 60px;
	border: 0px;
	background: gold;
	outline: none;
	float: right;
	color: #ffffff;
}

.search_result { /* ${searching}에 대한 검색 결과입니다 */
	font-size: 25px;
	width: 400px;
	height: 35px;
	top: 80px;
	left: 200px;
	position: relative;
}

.search_landmark { 
	width: 1500px;
	height: 300px;
	background-color: yellow;
	top: 120px;
	left: 200px;
	position: relative;
}

#landmark_search_info { /* 랜드마크 검색결과 */
	width: 1400px;
	height: 220px;
	top: 10px;
	left: 30px;
	position: relative;	
}

#loop_info{
	width: 100%;
	height: 25%;
	font-size: 20px;
}

#more_landmark {
	font-size: 20px;
	width: 280px;
	height: 50px;
	background-color: gold;
	top: 240px;
	left: 30px;
	position: absolute;	
}

.search_trip {
	width: 1500px;
	height: 300px;
	background-color: yellow;
	top: 150px;
	left: 200px;
	position: relative;
}

#trip_search_info { /* 랜드마크 검색결과 */
	width: 1400px;
	height: 220px;
	top: 10px;
	left: 30px;
	position: absolute;	
}

#more_trip {
	font-size: 20px;
	width: 280px;
	height: 50px;
	background-color: gold;
	top: 240px;
	left: 30px;
	position: absolute;	
}

.search_bbs {
	width: 1500px;
	height: 300px;
	background-color: yellow;
	top: 180px;
	left: 200px;
	position: relative;
}

#bbs_search_info { /* 랜드마크 검색결과 */
	width: 1400px;
	height: 220px;
	top: 10px;
	left: 30px;
	position: absolute;	
}

#more_bbs {
	font-size: 20px;
	width: 280px;
	height: 50px;
	background-color: gold;
	top: 240px;
	left: 30px;
	position: absolute;	
}

#result_none{
	font-size: 30px;
	top: 100px;
	left: 200px;
	position:relative;
}

#blank{
	width: 100%;
	height: 100px;
	top: 50px;
	position: relative;
}